.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --light-purple:#4E47FF;
    --font-color:#FFFFFF;
    --purpler: #CBC3E3;
    --box-shadow:#F2EDED;
    --secondary-font-color:rgba(0, 0, 0, 0.5);
    --body-color:#E6E6FA;
}
body{
    background-color: var(--body-color);
}

/*header section*/
header{
    background-image: url(Assets/Hero-bg.png) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding:0px 150px;
    color: var(--light-purple);
    font-size: 34px;
    font-weight: 600;
    margin-bottom: ;

}
.header-sign-up{
    background-color: var(--light-purple);
    border: none;
    border-radius:10px ;
    height: 48px;
    width: 132px;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);

}
.header-sign-up a{
text-decoration:none;

}
.header-banner-h1{
    font-size: 65px;
    text-align: center;
}
.header-stay-focused{
    align-items: center;

}
.header-banner-button{
    background-color: var(--light-purple);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: 48px;
    width: 174px;

}
.header-banner{
    text-align: center;
    padding-bottom:200px ;
    
}

/*main section*/
main{
    padding:150px ;
}
.see-elements{
    padding-left:141px ;
    padding-right:141px ;
}
.see{
    display: flex;
    justify-content: space-between;
}
.see-h2{
    font-size: 42px;
    font-weight: 600;
}
.see-p{
    font-size: 24px;
    font-weight: 400;
    gap: auto;
}
.see-button{
    background-color: var(--light-purple);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 200px;
    padding: 5px;

}
.see-pic{
    border:none;
    border-radius:30px ;
    
}
/*joined*/
.joined{
   padding: 50px 80px;
   background-color: var(--purpler);
   border-radius: 10px;
   padding: 50px 80px; 
   margin-top: 116px;
   padding: 0px 141px;
}
.joined-elements{
    padding: 50px 80px;
}
.joined-h2{
    text-align: center;
    font-size: 38px;
    font-weight: 600;

}

.percent{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 158px;
    margin-top: 40px;
    
}

.k-h1{
    font-size: 80px;
    color: var(--light-purple);
    margin-bottom: 0px;

}
.k-p{
    font-size: 20px;
    font-weight: 400px;
    margin-top: 0px;
}
/*what section*/

.what-h2{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.stars{
    display: flex;
    margin-top: 34px;
    gap: 3px;
}
.avator-own{
    border-radius: 50px;
}
.container{
    box-shadow: 20px 20px 40px var(--box-shadow);
    border-radius: 10px;
    padding: 20px;
    background-color:var(--font-color);
    border: 5px;


}
.containers{
    display: flex;
    justify-content: space-around;
    gap: 50px;
   

}
.what{
    margin-top: 137px;
}

/*ready section*/
.ready{
    margin-top: 137px;
    align-items: center;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px var(--box-shadow);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--font-color);
   

}
.ready-h2{
    font-size: 50px;
    font-weight: 600;
    margin-top: 71px;
}
.ready-h6{
    margin-top:20px ;
}
.ready-pic{
    border-radius:40px;
    margin:20px 150px 71px 150px ;
}
.ready-button{
    background-color: var(--light-purple);
    border: none;
    border-radius:10px ;
    height: 48px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
}
.ready-h6{
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-font-color);
}

/*let's start*/
.lets{
    display: flex;
    justify-content: space-between;
    padding:71px 0px 90px 0px ;
    gap: auto;

}
.lets-get{
    padding:129px 115px 129px 0px ;
    font-size: 97px;
    font-weight: 600;
    width: 50%;

}
.lets-form{
    width: 50%;
}
.lets-form input[type="text"], .lets-form input[type="email"], .lets-form textarea{
    height: 64px;
    border-radius: 5px;
    background-attachment: var(--font-color);
    display: block;
    width:100%;
    padding: 20px 271px 20px 10px;
    margin-bottom: 24px;
    border: none;
    box-sizing: border-box;
    
}
.lets-form label{
    font-size: 18px;
    font-weight: 500;
}
.lets-form button{
    width: 100%;
    background-color: var(--light-purple);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: var(--font-color);
    font-size:16px;
    font-weight: 600;
}